.appMenu {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.appMenuButtons {
  background-color: #fafafa;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  padding-block: 16px;
  padding-inline: 16px;
  position: sticky;
  row-gap: 16px;
  top: 0;
  z-index: 1;
}
