.recordAttendance__content {
  display: flex;
  flex-direction: column;
  margin: 32px;
  position: relative;
  row-gap: 16px;
  width: fit-content;
}

.recordAttendance__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.callAttendance {
  display: flex;
  align-items: center;
  gap: 16px;

  &:first-child input {
    padding: 8px;
  }

  & > * {
    width: max-content;
  }
}
