.appRootContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  padding-block: 1.2%;
  padding-inline: 2.2%;
  column-gap: 2em;
}

.navbar__hamburguer {
  cursor: pointer;
  & svg {
    font-size: 28px;
    vertical-align: middle;
  }
}

.wrapperNavigationContent {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.wrapperNavigationContent__2column {
  grid-template-columns: minmax(180px, 220px) 1fr;
}

.navigation {
  display: none;
  grid-template-rows: auto 1fr;
  overflow: auto;
  position: relative;
}

.openNavigation {
  display: initial;
}

.content {
  overflow: auto;
  width: 100%;
}
