.recordStudent__content {
  margin: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: fit-content;
}

.recordStudent__buttons {
  display: flex;
  margin-inline-start: auto;
  gap: 16px;
}
