.loginContainer {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: auto;
  row-gap: 16px;
}

.logo {
  width: 150px;
  margin-inline: auto;
  & img {
    vertical-align: middle;
    max-inline-size: 100%;
    block-size: auto;
  }
}
